<div id="my_modal" class="modal">
  <div class="modal-body">
    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>

    Rating is not easy but it will assist us in going for what's right
    <br><br>
    <p>
      <%= link_to 'Rate Now', home_index_path, class: 'landing-cta' %>
    </p>
  </div>
</div>
