<div class="pastors">
  <h2 class="text-center">PASTORS</h2>
  <% if can? :manage, Pastor %>
      <div class="pull-right">
        <%= link_to new_church_pastor_path(@church) do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add New Pastor
        <% end %>
      </div>
  <% end %>

  <% if @pastors.empty? %>
      <i>There are no available pastors</i>
  <% else %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Rating</th>
          <th></th>
          <th></th>
          <% if can? :manage, Pastor %>
              <th></th>
              <th></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @pastors.each do |pastor| %>
            <%= render partial: 'pastors/pastor', locals: {pastor: pastor, church: @church} %>
        <% end %>
        </tbody>
      </table>

      <%= link_to 'Hide Pastors', '#', class: 'hide-pastors', remote: true %>
  <% end %>
</div>
