<div class="m-pricing">
  <% if can? :manage, Church %>
    <div>
      <%= link_to 'Create a church', new_church_path, class: 'creation-cta' %>
    </div>
  <% end %>

  <h2 class="text-center">CHURCHES</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>A.K.A</th>
      <th>Founder</th>
      <th></th>
      <th></th>
      <% if can? :manage, Church %>
        <th></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% if @churches.empty? %>
          <br>
          <i>There are no available churches</i>
      <% else %>
          <%= render @churches %>
      <% end %>
    </tbody>
  </table>
</div>
