<div class="m-pricing">
  <% if can? :manage, :all %>
    <%= link_to 'Create a church', new_church_path, class: 'creation-cta tag' %>
  <% end %>

  <h2 class="text-center">CHURCHES</h2>
  <% if @churches.empty? %>
    <i>There are no available churches</i>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
          <div class="table-responsive">
            <%= will_paginate @churches %>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>A.K.A</th>
                <th>Founder</th>
                <th>Rating</th>
                <th></th>
                <% if can? :manage, Church %>
                    <th></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <%= render @churches %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  <% end %>
</div>
