<div class="row">
  <div class="col-md-12">
    <div class="col-md-12" id="m-pricing" data-animated="0">
      <h1 class="text-center">I want to rate things relating to</h1>
      <form class="text-center" id="home_form"> 
        <input type="text" id="search_bar"> 
        <button type="submit"><i class="fa fa-search"></i></button> 
      </form> 
    </div>
  </div>
</div>
