<div class="row">
  <div class="col-md-12">
    <div class="col-md-12" id="m-pricing" data-animated="0">
      <h3>Pricing tables</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-table">
            <div class="mp-icon"></div>
            <div class="mp-title">Basic</div>
            <div class="mp-price"><small>$</small>40<span>.99<em>month</em></span></div>
            <ul>
              <li><i class="fa fa-check-circle"></i> Unlimited Bandwith</li>
              <li><i class="fa fa-times-circle"></i> Professional Cpanel</li>
              <li><i class="fa fa-check-circle"></i> Unlimited E-mails</li>
              <li><i class="fa fa-times-circle"></i> 24/7 Support</li>
              <li><i class="fa fa-check-circle"></i> High Security</li>
            </ul>
            <div class="mp-btn"><a href="#">Select this plan</a></div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="pricing-table">
            <div class="mp-icon"></div>
            <div class="mp-title">Standard</div>
            <div class="mp-price"><small>$</small>60<span>.99<em>month</em></span></div>
            <ul>
              <li><i class="fa fa-check-circle"></i> Unlimited Bandwith</li>
              <li><i class="fa fa-times-circle"></i> Professional Cpanel</li>
              <li><i class="fa fa-check-circle"></i> Unlimited E-mails</li>
              <li><i class="fa fa-times-circle"></i> 24/7 Support</li>
              <li><i class="fa fa-check-circle"></i> High Security</li>
            </ul>
            <div class="mp-btn"><a href="#">Select this plan</a></div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="pricing-table">
            <div class="mp-icon"></div>
            <div class="mp-title">Professional</div>
            <div class="mp-price"><small>$</small>90<span>.99<em>month</em></span></div>
            <ul>
              <li><i class="fa fa-check-circle"></i> Unlimited Bandwith</li>
              <li><i class="fa fa-times-circle"></i> Professional Cpanel</li>
              <li><i class="fa fa-check-circle"></i> Unlimited E-mails</li>
              <li><i class="fa fa-times-circle"></i> 24/7 Support</li>
              <li><i class="fa fa-check-circle"></i> High Security</li>
            </ul>
            <div class="mp-btn"><a href="#">Select this plan</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
