/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require owl.carousel
 *= require owl.theme
 *= require easy-responsive-tabs
 *= require flexslider.css
 *= require jquery.fullPage
 *= require jquery.mCustomScrollbar.min
 *= require formtastic
 *= require main
 *= require main-responsive
 *= require_self
 *= require profile
 *= require prettyphoto-rails
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.icon-style {
  padding: 0 !important;
}

.alert {
  &.alert-danger {
    background-color: #ffeeee;
    border-color: #eed3d7;
    color: #b94a48;
    font-size: 1.2em;
  }

  &.alert-success {
    background-color: #dff0d8;
    border-color: #b2dba1;
    color: #3c763d;
    font-size: 1.2em;
    animation: hide-after-delay 0.5s forwards;
    animation-iteration-count: 1;
    animation-delay: 3.5s;
  }
}

@keyframes hide-after-delay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height:0;
    margin: 0;
  }
}
