/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require owl.carousel
 *= require owl.theme
 *= require easy-responsive-tabs
 *= require flexslider.css
 *= require jquery.fullPage
 *= require jquery.mCustomScrollbar.min
 *= require formtastic
 *= require main
 *= require main-responsive
 *= require_self
 *= require profile
 *= require home
 *= require church
 *= require pastor
 *= require politician
 *= require tag
 *= require prettyphoto-rails
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.icon-style {
  padding: 0 !important;
}

.alert {
  &.alert-danger {
    background-color: #ffeeee;
    border-color: #eed3d7;
    color: #b94a48;
    font-size: 1.2em;
  }

  &.alert-success {
    background-color: #dff0d8;
    border-color: #b2dba1;
    color: #3c763d;
    font-size: 1.2em;
    animation: hide-after-delay 0.5s forwards;
    animation-iteration-count: 1;
    animation-delay: 3.5s;
  }
}

@keyframes hide-after-delay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height:0;
    margin: 0;
  }
}

.creation-cta {
  padding: 10px;
  background-color: #a30001;
  color: #fff;
  font-size: 1.3em;
}

.creation-cta:hover {
  color: #ddd;
  text-decoration: none;
}

// AUTO-COMPLETE
div.awesomplete {
  color: #000 !important;
}

// SHOW PAGES
.extra-info {
  padding-top: 30px;
  font-size: 1.2em;
}

#like, #mini_like {
  color: #a30001;
  font-style: italic;
}

// RATING

.rate-action {
  padding: 10px;
  background-color: #a30001;
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  border: 2px solid #a30001;
}

.rate-action:hover {
  text-decoration: none;
  color: #a30001;
  background-color: #fff;
}

.rate-summary {
  padding-top: 50px;
}

.rate-text {
  font-size: 1.5em;
}

.rate-figure {
  font-size: 3em;
}

.rate-comment {
  font-size: 0.5em;
}

.share {
  display: flex;
  justify-content: space-between;
}

.flexer {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

// SELECT

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 268px;
}

.styled-select.slate {
  background: #fff;
  height: 34px;
  width: 240px;
}

.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
  color: #000;
}

// HEARTS

.hearted {
  border: 0;
  background: transparent;
}

.fa-heart, .fa-heart-o {
  font-size: 5em;
  color: #a30001;
}

.mini-hearted .fa-heart,
.mini-hearted .fa-heart-o {
  font-size: 1.5em;
  color: #a30001;
}

// FORM

.mc {
  display: table;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

.mc input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 13px;
  color: #fff;
  padding-bottom: 11px;
  padding-left: 50px;
  margin: 0;
  position: relative;
  top: 0;
}

.mc input:focus {
  border-color: #fff;
  color: #fff;
  outline: none;
}

.mc-main-action, .mc-main-back {
  border: none;
  background-color: #f0f0f0;
  padding: 10px 30px !important;
  font-size: 1.3em !important;
  color: #a30001;
}

.mc-main-action {
  width: 100%;
}

.mc-rate-action {
  width: inherit;
}

/* uploader */

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
.custom-file-upload {
  display: block;
  width: auto;
  margin-top: 30px;
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-input {
  width: 300px;
  color: #a30001;
  font-size: 16px;
  padding: 11px 17px !important;
  border: 1px solid #fff;
  background-color: #fff;
  float: left; /* IE 9 Fix */
  &:hover, &:focus {
    background-color: darken(#fff, 5);
    outline: none;
  }
}

.file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 20px !important;
  border: 1px solid #fff;
  margin-left: -1px !important;
  background-color: inherit;
  float: left; /* IE 9 Fix */
  &:hover {
    background-color: darken(#c0392b, 20);
  }
}

.uploader {
  padding-bottom: 20px;
}

/* formtastic override */

.inline-errors {
  color: #fff !important;
  display: inline-block !important;
}

label {
  font-size: 1.2em !important;
  font-weight: 300 !important;
  display: flex !important;
}

.date_select label {
  color: #fff !important;
}

.formtastic legend {
  color: #fff !important;
}

/* radio buttons */

.radio-text {
  font-size: 1.2em;
  color: #fff;
}

.radio-options {
  display: flex;
}

.radio-labels {
  padding-left: 10px;
  font-size: 1em !important;
  color: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1230px) {
  .rate-action {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 1150px) {
  .rate-action {
    font-size: 1.3em;
  }

  .mc input {
    width: 60% !important;
    float: right;
  }

  .file-upload-button {
    float: right;
    font-size: 13px !important;
    padding-bottom: 13px !important;
  }

  .file-upload-input {
    width: 150px;
    float: right;
  }

  .styled-select.slate {
    float: right;
  }
}

@media screen and (max-width: 960px) {
  .taggings {
    padding-top: 20px;
  }

  .mc input {
    width: 100% !important;
  }

  .file-upload-input {
    width: 100%;
  }

  .file-upload-button {
    width: 100%;
    font-size: 16px !important;
    padding: 11px 20px !important
  }
}

@media screen and (max-width: 950px) {
  select#name {
    width: 50%;
  }

  .flexer {
    display: block;
  }

  .rate-stuff {
    padding-top: 25px;
  }

  .rate-action {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 767px) {
  .tag {
    font-size: 1em;
  }
}
