/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require jquery.fullPage
 *= require animate
 *= require jquery.mCustomScrollbar.min
 *= require formtastic
 *= require customize
 *= require landing
 *= require devise
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.copyright {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

input::-webkit-input-placeholder {
  color: #000 !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #000 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #000 !important;
}

input:-ms-input-placeholder {
  color: #000 !important;
}
