#home_form {
  position: relative;
  margin-top: 10px;
}

#search_bar {
  width: 200%;
  font-size: 18px;
  padding: 0 100px;
  border: none;
  border-bottom: 2px solid #a30001;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
}


#home_form button {
  position: absolute;
  left: 25px;
  top: 30px;
  background: none;
  border: none;
  font-size: 30px;
  color: #86939e;
}

#header_form {
  position: relative;
}

#header_search_bar {
  color: #000;
  width: 135%;
  border: 2px solid #000;
  border-radius: 25px;
  padding: 10px 50px;
  position: relative;
  top: 5px;
  right: 70px;
}

#header_form button {
  position: absolute;
  left: 223px;
  top: 12px;
  background: none;
  border: none;
  font-size: 20px;
  color: #86939e;
}

.nav-item {
  color: #fff;
  font-size: 1.5em;
  position: relative;
  padding-top: 14px;
  padding-right: 14px;
}

.nav-item:hover {
  color: #fff;
  text-decoration: underline;
}

.nav-image {
  width: 150px;
  padding: 0 14px;
}

.outer-wrap {
  padding-top: 70px;
}

.header-cont {
  width:100%;
  position:fixed;
  top:0;
  color: #fff;
  background-color: #a30001;
  padding: 15px;
  z-index:10;
}

/* media queries */

@media screen and (max-width: 1230px) {
  #search_bar {
    width: 150%;
    padding: 0 70px;
  }

  #header_search_bar {
    padding: 10px 30px 10px 70px;
  }

  #header_form button {
    right: 210px;
  }
}

@media screen and (max-width: 1180px) {
  #header_search_bar {
    padding: 10px 10px 10px 80px;
  }

  #header_form button {
    left: 190px;
  }
}

@media screen and (max-width: 1000px) {
  #header_search_bar {
    padding: 10px 20px 10px 60px;
  }

  #header_form button {
    left: 140px;
  }
}

@media screen and (max-width: 950px) {
  #search_bar {
    width: 135%;
    padding: 0 50px;
  }

  #home_form button {
    left: 10px;
  }

  #header_search_bar {
    width: 150%;
  }

  #header_search_bar {
    padding: 10px 1px 10px 70px;
  }

  #header_form button {
    left: 120px;
    top: 11px;
  }
}

@media screen and (max-width: 800px) {
  #header_search_bar {
    right: 0;
  }

  #header_form button {
    left: 150px;
  }
}

@media screen and (max-width: 767px) {
  #search_bar {
    width: 100%;
    padding: 0 70px;
  }

  #header_search_bar {
    padding: 10px 1px 10px 85px;
  }

  #header_form button {
    left: 115px;
  }
}

@media screen and (max-width: 630px) {
  #header_form {
    padding-top: 10px;
    width: 100%;
  }

  #header_search_bar {
    width: 100%;
    padding: 10px 1px 10px 75px;
  }

  #header_form button {
    top: 21px;
    left: 200px;
  }

  .outer-wrap {
    padding-top: 150px;
  }
}

@media screen and (max-width: 570px) {
  #header_search_bar {
    padding: 10px 1px 10px 105px;
  }

  #header_form button {
    left: 150px;
  }
}

@media screen and (max-width: 465px) {
  #header_search_bar {
    padding: 10px 1px 10px 100px;
  }

  #header_form button {
    left: 100px;
  }
}
