<div class="header-cont">
  <nav class="navbar">
    <%= link_to home_index_path do %>
        <%= image_tag 'rater-white', class: 'nav-image' %>
    <% end %>

    <%= link_to 'LOG OUT', destroy_user_session_path, class: 'pull-right nav-logout', method: :delete %>

    <form class="text-center col-md-8 col-sm-8 col-xs-7 pull-right" id="header_form"> 
      <input type="text" id="header_search_bar"> 
      <button type="submit"><i class="fa fa-search"></i></button> 
    </form> 
  </nav>
</div>
